@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');

/* COLOR FUENTE */
.blanco{color: white;}
.negro{color: black;}
.salmon{color: salmon;}
.rojo{color: red;}
.baseball_color{color: orange;}


/* TAMAÑO FUENTE */
.diminuta{font-size: 10pt;}
.reducida{
  font-size: 12pt;
  text-align: justify; 
}
.big {font-size: 400%}


/* TIPO FUENTE */
.fuente{font-family: 'Nova Oval';}
.nombre{font-family: 'Passero One'; font-size: 50px;}
.barcode{font-family: 'Libre Barcode 128 Text';}
.cita{
  color: black;
  font-family:  'Miniver', cursive;
  font-size: 16pt;
  text-align: justify; 
}
.justo{ text-align: justify; }

/* TÍTULO */
.plate {
  width: 450px;
  margin: 10% auto;
}

.script {
  font-family: 'Passero One';
  color: #000000;
  text-align: center;
  font-size: 70px;
  position: relative;
  margin:0;
}
.script span {
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

/* LOGO */
.logo {
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 110px;
  height: 128px;
  z-index: 0;
}




